.crypto {
  z-index: 0;
  justify-content: space-around;
  min-width: 150px;
  width: 15%;
  height: 150px;
  border: 2px solid white;
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  color: white;
  cursor: pointer;
  transition:  .3s ease-in-out;
  overflow: hidden;
     
  &-logo {
    position: relative;
    height: 10vw;
    width: 10vw;
    max-height: 200px;
    min-height: 100px;
    max-width: 200px;
    min-width: 100px;
    transition: all .4s ease-in-out;
  }

  &-title {
    transition: all .4s ease-in-out;
  }

  &-values {
    margin-top: 2rem;
    opacity: 0;
    transition: all .4s ease-out ;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &:hover {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
      "crypto-logo crypto-title"
      "crypto-values crypto-values";
    justify-items: center;
    align-items: center;
    background-color: #282c34;
    z-index: 1;
    transform: scale(1.25);
    border: 2px solid rgb(50, 205, 179);
    -webkit-box-shadow: 12px 12px 15px -4px rgba(0,0,0,0.5); 
    box-shadow: 12px 12px 15px -4px rgba(0,0,0,0.5);
    overflow: visible;

    .crypto-logo{
      width: 8vw;
      min-width: 7vw;
      height: auto;
      min-height: auto;
    }

    .crypto-values {
      display: contents;
      opacity: 1;
    }
  }
 
}