.page-contact {
  position: relative;
  height: inherit;

  .background {
    background-color: rgb(4, 57, 100);
  }

  & .contact {
    z-index: 1;
    
  .underconstruct {
    margin: 1rem auto;
    padding: 1rem;
    width: fit-content;
    background-color: #04644F;
    border-radius: 20px;
  }

    & a {
      color: white ;
    } 
  }
}