.page-crypto {
  position: relative;
  height: auto;

  &-title{
    background-color: #232323;
    padding: 1rem;
    border-radius: 20px;
    height: 50px;
  }
  

  .background {
    background-color: #a8a8a8;
  }

  .underconstruct {
    margin: 1rem auto;
    padding: 1rem;
    width: fit-content;
    background-color: #04644F;
    border-radius: 20px;
    
    & a {
      color: white ;
    } 
  }
}