.page-essai {
    height: 90vh;
    width: 70vw;
    position: relative;
}

.cube {
    position: absolute;
    top: 50%;
    left: 50%;

    & .face {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100px;
        height: 100px;
        margin: 0 10px;
        background-color: #232323;

        & span {
            color: white;
            position: absolute;
            width: 100px;
            height: 100px;            
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            background-color: #232323;
            transition: 500ms;
        }
        & span:nth-child(1){
            z-index: 100;
        }

        &:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            
            & span:nth-child(5){
                opacity: .2;
            }
            & span:nth-child(4){
                opacity: .4;
            }
            & span:nth-child(3){
                opacity: .6;
            }
            & span:nth-child(2){
                opacity: .8;
            }
            & span:nth-child(1){
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
            }
        }
    }
    
    & .a  { 
        transform: rotateY(22.5deg) skewY(-35deg) translateZ(00px) translate(55px, 30px); 
        &:hover {
            & span {
                background-color: rgba(207, 207, 207, 0.411);
                color: #000;
            }
            & span:nth-child(1){
                transition-delay: 100ms;
                transform: translate(30px, 40px);
            }
            & span:nth-child(2){
                transition-delay: 100ms;
                transform: translate(22.5px, 30px);
            }
            & span:nth-child(3){
                transition-delay: 100ms;
                transform: translate(15px, 20px);
            }
            & span:nth-child(4){
                transition-delay: 100ms;
                transform: translate(7.5px, 10px);
            }
            & span:nth-child(5){
                transition-delay: 100ms;
                transform: translate(0px, 0px);
            }
        }
    }

        
    & .b   { 
        transform: rotateY(-22.5deg) skewY(35deg) translateZ(00px) translate(-55px, 30px);
        &:hover {
            & span {
                background-color:   rgb(4, 100, 79);
            }
            & span:nth-child(1){
                transition-delay: 100ms;
                transform: translate(-30px, 40px);
            }
            & span:nth-child(2){
                transition-delay: 100ms;
                transform: translate(-22.5px, 30px);
            }
            & span:nth-child(3){
                transition-delay: 100ms;
                transform: translate(-15px, 20px);
            }
            & span:nth-child(4){
                transition-delay: 100ms;
                transform: translate(-7.5px, 10px);
            }
            & span:nth-child(5){
                transition-delay: 100ms;
                transform: translate(0px, 0px);
            }
        }
    }
        
    & .c    { 
        transform: scale(1.315) rotateX(40deg) rotateZ(-45deg) translate(72.5px, -72.5px); 
        &:hover {
            & span {
                background-color:  rgb(4, 57, 100);
            }
            & span:nth-child(1){
                transition-delay: 100ms;
                transform: translate(20px, -20px);
            }
            & span:nth-child(2){
                transition-delay: 100ms;
                transform: translate(15px, -15px);
            }
            & span:nth-child(3){
                transition-delay: 100ms;
                transform: translate(10px, -10px);
            }
            & span:nth-child(4){
                transition-delay: 100ms;
                transform: translate(5px, -5px);
            }
            & span:nth-child(5){
                transition-delay: 100ms;
                transform: translate(0px, 0px);
            }
        }
    }

    &:hover {
        & .a {
            transform: rotateY(22.5deg) skewY(-35deg) translateZ(00px) translate(50px, 30px);
            transition: all 500ms ease-in-out;
        }
        & .b   { 
            transform: rotateY(-22.5deg) skewY(35deg) translateZ(00px) translate(-50px, 30px);
            transition: all 500ms ease-in-out;
        }
            
        & .c    { 
            transform: scale(1.315) rotateX(40deg) rotateZ(-45deg) translate(62.5px, -62.5px);
            transition: all 500ms ease-in-out;
        }
    }

}