body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 200px;
  left: 0vh;
  top: 50vh;
  background-color: rgb(86, 10, 109);
  transform: skew(0deg, 10deg);
  background-repeat: repeat-y;
}

.react-logo {
  position: absolute;
  width: 10vw;
  height: 10vh;
  max-width: 100px;
}

.App-logo {
  height: auto;
  position: relative;
}

.page-container {
  width: 80vw;
  margin: 1rem auto;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

@media (max-width: 768px){
  .App-logo {
    display: none;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
