.page-about{
 
    .content {
      position: absolute;
      display: flex;
      flex-flow: column;
      gap: .5rem;
      margin: 1rem auto;
      opacity: 0;
      height: 0;
      z-index: -10;
      transform: translateY(-5rem);
      background-color: white;
      border-radius: 22px;
      max-width: fit-content;
      overflow: hidden;

      &.shown{
        z-index: 10;
        opacity: 1;
        position: relative;
        height: auto;
        transition: all 500ms ease-in-out;
        transform: translateY(0);
      }
    
      &-title{
        background-color: #04644F;
        border-radius: 20px 20px 0 0;
        font-size: 1.5rem;
        padding: 1rem;
      }

      &-items {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        color: black;
        background-color: white;
        border-radius: 20px;
        background-size: auto;
        padding: 0rem;
      }
    }
  }
