.page-about{
 
    .content {
      position: absolute;
      display: flex;
      flex-flow: column;
      margin: .75rem auto;
      opacity: 0;
      height: 0;
      z-index: -10;
      transform: translateY(-5rem);
      background-color: white;
      border-radius: 15px;
      max-width: fit-content;
      overflow: hidden;

      &-btn {
        position: absolute;
        opacity: 0;
        z-index: -10;
        transform: translateY(-5rem);
        overflow: hidden;

        &.shown {
          color: white;
          position: relative;
          height: auto;
          opacity: 1;
          padding: .75rem;
          margin: auto;
          font-size: 1.2rem;
          background-color: #006466;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          width: fit-content;
          height: auto;
          transition: all 500ms ease-in-out;
          transform: translateY(0) ;
          z-index: 10;
        }
      }

      &.shown{
        z-index: 10;
        opacity: 1;
        position: relative;
        height: auto;
        transition: all 500ms ease-in-out;
        transform: translateY(0) ;
      }
    
      &-title{
        background-color: #006466;
        color: white;
        border-radius: 15px 15px 0 0;
        font-size: 1.2rem;
        padding: .75rem;
      }

      &-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: black;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        background-size: auto;
        padding: 0rem;
      }
    }
  }
